<h1 class="title">Books</h1>

<p>{{ alert }}</p>

<ul class="books">
  {{#each books}}
  <img src={{this.image_links}} alt="Book cover">
  <p class="title">{{this.title}}</p>
  <p class="authors">{{this.authors}}</p>
  <p>{{this.publisher}}, {{this.pages}} pages</p>
  <p>{{this.quantity}} available</p>
  {{/each}}
</ul>