<h1 class="title">Result</h1>

<ul class="result">
  {{#each result}}
  <img src={{imageLinks.smallThumbnail}} alt="Book cover">
  <p class="title">{{title}}</p>
  <p class="authors">{{authors}}</p>
  <p>{{publisher}}, {{publishedDate}}, {{pageCount}} pages</p>
  <p>{{#each industryIdentifiers}}
  <p>{{type}}: {{identifier}} </p>
  {{/each}}</p>
  {{/each}}
</ul>

<form method="post">
  <a class="big-thumb-button" href="/search/add">Add to Library</a>
  <a class="big-thumb-button" href="/">Borrow book</a>
</form>



<p>Not the right book?
  <button type="submit" class="full-width-button" href="/">Enter manually</button>
</p>